<div class="index-container">
  <header>
    <app-header></app-header>
  </header>

  <main>
    <section class="about">
      <div class="title-about">
        <h2>Sobre mim</h2>
      </div><!--title-about-->

      <div class="content-about">
        <p></p>
      </div><!--content-about-->
    </section><!--about-->

    <section class="stacks">
      <div class="title-stacks">
        <h2>Tecnologias</h2>
      </div><!--title-stacks-->

      <swiper-container
        navigation="true"
        pagination="true"
        pagination-clickable="true"
        slides-per-view="1"
        speed="500"
        loop="true"
        autoplay="true"
      >
        <swiper-slide>
          <div class="content-stacks">
            <img src="../../../../assets/icons8-html.svg" alt="HTML5">
            <p>HTML5</p>
          </div><!--content-stacks-->
        </swiper-slide>

        <swiper-slide>
          <div class="content-stacks">
            <img src="../../../../assets/icons8-css.svg" alt="CSS3">
            <p>CSS3</p>
          </div><!--content-stacks-->
        </swiper-slide>

        <swiper-slide>
          <div class="content-stacks">
            <img src="../../../../assets/icons8-sass.svg" alt="SASS">
            <p>SASS</p>
          </div><!--content-stacks-->
        </swiper-slide>

        <swiper-slide>
          <div class="content-stacks">
            <img src="../../../../assets/icons8-java-script.svg" alt="JS">
            <p>JS</p>
          </div><!--content-stacks-->
        </swiper-slide>

        <swiper-slide>
          <div class="content-stacks">
            <img src="../../../../assets/icons8-php.svg" alt="PHP">
            <p>PHP</p>
          </div><!--content-stacks-->
        </swiper-slide>

        <swiper-slide>
          <div class="content-stacks">
            <img src="../../../../assets/icons8-laravel-64.png" alt="Laravel">
            <p>Laravel</p>
          </div><!--content-stacks-->
        </swiper-slide>

        <swiper-slide>
          <div class="content-stacks">
            <img src="../../../../assets/icons8-java.svg" alt="Java">
            <p>Java</p>
          </div><!--content-stacks-->
        </swiper-slide>

        <swiper-slide>
          <div class="content-stacks">
            <img src="../../../../assets/icons8-spring-boot.svg" alt="spring">
            <p>Spring Boot</p>
          </div><!--content-stacks-->
        </swiper-slide>

        <swiper-slide>
          <div class="content-stacks">
            <img src="../../../../assets/icons8-postgresql.svg" alt="PostgreSQL">
            <p>PostgreSQL</p>
          </div><!--content-stacks-->
        </swiper-slide>

        <swiper-slide>
          <div class="content-stacks">
            <img src="../../../../assets/icons8-mysql-logo.svg" alt="MySQL">
            <p>MySQL</p>
          </div><!--content-stacks-->
        </swiper-slide>
      </swiper-container>
    </section><!--stacks-->

    <section class="projects">
      <div class="title-projects">
        <h2>Projetos</h2>
      </div><!--title-projects-->

      <swiper-container
      pagination="true"
      pagination-clickable="true"
      slides-per-view="1"
      speed="500"
      loop="true"
      autoplay="true"
      >
        <swiper-slide>
          <div class="project-single">
            <div class="name-project">
              <h2>Hotel Angular (Front-end)</h2>
            </div><!--name-project-->

            <div class="content-project">
              <p></p>
            </div><!--content-project-->

            <nav class="link-project">
              <a href="">No GitHub</a>
              <a href="">No Site</a>
            </nav><!--link-project-->
          </div><!--project-single-->
        </swiper-slide>

        <swiper-slide>
          <div class="project-single">
            <div class="name-project">
              <h2>Hotel Angular (Back-end)</h2>
            </div><!--name-project-->

            <div class="content-project">
              <p></p>
            </div><!--content-project-->

            <nav class="link-project">
              <a href="">No GitHub</a>
              <a href="">No Site</a>
            </nav><!--link-project-->
          </div><!--project-single-->
        </swiper-slide>

        <swiper-slide>
          <div class="project-single">
            <div class="name-project">
              <h2>Lava Rápido (Front-end)</h2>
            </div><!--name-project-->

            <div class="content-project">
              <p>Site para para um Lava Rápido,tive problemas no meio do projeto na hora de deixa-lo responsivo,mas utilizei uma forma que tenho para estes casos que é dando um 'display:none' nas tags 'section' do projeto,rapidinho consegui solucionar,tecnologias utilizadas foram: Angular com TypeScript,e algumas bibliotecas como Swiper (manipulações de slides),Ngx Mask (mascarar campos),Cookie Service (manipular cookies) e FontAwesome (para utilizar ícones).</p>
            </div><!--content-project-->

            <nav class="link-project">
              <a href="https://github.com/Namibo06/lavaRapido_angular">No GitHub</a>
            </nav><!--link-project-->
          </div><!--project-single-->
        </swiper-slide>

        <swiper-slide>
          <div class="project-single">
            <div class="name-project">
              <h2>Lava Rápido (Back-end)</h2>
            </div><!--name-project-->

            <div class="content-project">
              <p>Projetei uma Api feita totalmente com Laravel 10,utilizei token JWT (JavaScript Web Token) para autenticar os usuários,é uma api simples para o usuário temos duas funções no controller que é para cadastrar e autenticar,e para o Lava Rápido temos 3 funções,para puxar os registros dos horários,para marcar horários,e um especifíco para o administrador do site para confirmar os horários,tudo isso feito com validação tanto do pacote Validator quanto por verificações dos registros que já estão no banco de dados como por exemplo verificar se o horário já está marcado para não escolher outro igual.Escolhi para guardar os dados o banco de dados relacional PostgreSQL.</p>
            </div><!--content-project-->

            <nav class="link-project">
              <a href="https://github.com/Namibo06/api_lavaRapido_laravel">No GitHub</a>
            </nav><!--link-project-->
          </div><!--project-single-->
        </swiper-slide>

        <swiper-slide>
          <div class="project-single">
            <div class="name-project">
              <h2>Login Moderno (Front-end)</h2>
            </div><!--name-project-->

            <div class="content-project">
              <p>Estava iniciando no Angular 14 quando decidi me desafiar num novo projeto,logo escolhi fazer um login modernizado,ainda não sabia utilizar bem os decorators\anotações &#64;Input para utilizar eventos do elemento pai nos elementos filhos e &#64;Output para compartilhar eventos dos elementos filhos com o elemento pai,então ainda quero dar uma modificada neste projeto.O coloquei aqui porque gostei muito dele,e foi a partir dele que vi que poderia seguir a carreira no Angular.</p>
            </div><!--content-project-->

            <nav class="link-project">
              <a href="https://github.com/Namibo06/login-moderno-angular">No GitHub</a>
              <a href="https://login-moderno-angular.vercel.app">Em produção</a>
            </nav><!--link-project-->
          </div><!--project-single-->
        </swiper-slide>
      </swiper-container>
    </section><!--projects-->

    <div class="contact">
      <!--por button com chevron-down para levar ate o footer-->
    </div><!--contact-->
  </main>

  <footer>
    <app-footer></app-footer>
  </footer>
</div><!--index-container-->
