<div class="index-container">
  <header>
    <app-header></app-header>
  </header>

  <main>
    <section class="about">
      <div class="title-about">
        <h2>Sobre mim</h2>
      </div><!--title-about-->

      <div class="content-about">
        <p></p>
      </div><!--content-about-->
    </section><!--about-->

    <section class="stacks">
      <div class="title-stacks">
        <h2>Tecnologias</h2>
      </div><!--title-stacks-->

      <swiper-container
        navigation="true"
        pagination="true"
        pagination-clickable="true"
        slides-per-view="3"
        speed="500"
        loop="true"
        autoplay="true"
      >
        <swiper-slide>
          <div class="content-stacks">
            <img src="../../../../assets/icons8-html.svg" alt="HTML5">
            <p>HTML5</p>
          </div><!--content-stacks-->
        </swiper-slide>

        <swiper-slide>
          <div class="content-stacks">
            <img src="../../../../assets/icons8-css.svg" alt="CSS3">
            <p>CSS3</p>
          </div><!--content-stacks-->
        </swiper-slide>

        <swiper-slide>
          <div class="content-stacks">
            <img src="../../../../assets/icons8-sass.svg" alt="SASS">
            <p>SASS</p>
          </div><!--content-stacks-->
        </swiper-slide>

        <swiper-slide>
          <div class="content-stacks">
            <img src="../../../../assets/icons8-java-script.svg" alt="JS">
            <p>JS</p>
          </div><!--content-stacks-->
        </swiper-slide>

        <swiper-slide>
          <div class="content-stacks">
            <img src="../../../../assets/icons8-php.svg" alt="PHP">
            <p>PHP</p>
          </div><!--content-stacks-->
        </swiper-slide>

        <swiper-slide>
          <div class="content-stacks">
            <img src="../../../../assets/icons8-laravel-64.png" alt="Laravel">
            <p>Laravel</p>
          </div><!--content-stacks-->
        </swiper-slide>

        <swiper-slide>
          <div class="content-stacks">
            <img src="../../../../assets/icons8-java.svg" alt="Java">
            <p>Java</p>
          </div><!--content-stacks-->
        </swiper-slide>

        <swiper-slide>
          <div class="content-stacks">
            <img src="../../../../assets/icons8-spring-boot.svg" alt="spring">
            <p>Spring Boot</p>
          </div><!--content-stacks-->
        </swiper-slide>

        <swiper-slide>
          <div class="content-stacks">
            <img src="../../../../assets/icons8-postgresql.svg" alt="PostgreSQL">
            <p>PostgreSQL</p>
          </div><!--content-stacks-->
        </swiper-slide>

        <swiper-slide>
          <div class="content-stacks">
            <img src="../../../../assets/icons8-mysql-logo.svg" alt="MySQL">
            <p>MySQL</p>
          </div><!--content-stacks-->
        </swiper-slide>
      </swiper-container>
    </section><!--stacks-->

    <section class="projects">

    </section><!--projects-->

    <div class="contact">
      <!--por button com chevron-down para levar ate o footer-->
    </div><!--contact-->
  </main>

  <footer>
    <app-footer></app-footer>
  </footer>
</div><!--index-container-->
