$layout-breakpoint-big:580px
$layout-breakpoint-medium:430px
$layout-breakpoint-small:330px
$layout-breakpoint-x-small:300px

%h2-default
  font-size: 24px
  font-weight: 300
  letter-spacing: 2px

%swiper-slide-default
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center

main
  font-family: Arial, Helvetica, sans-serif
  transition: 1s
  transition-timing-function: ease-in

  section.about
    padding: 50px 0
    div.title-about
      padding-left: 90px
      margin-bottom: 30px
      h2
        @extend %h2-default
    div.content-about
      padding: 0 20px
      position: relative
      left: 50%
      transform: translateX(-50%)

      p
        font-size: 17px
        font-weight: 300
        line-height: 24px
        letter-spacing: 1.5px
        text-align: justify
        padding-bottom: 10px
        &:last-child
          padding-bottom: 0px

  section.stacks
    padding: 50px 0

    div.title-stacks
      padding-left: 90px
      margin-bottom: 50px

      h2
        @extend %h2-default

    swiper-container
      display: flex
      flex-direction: row
      height: 180px

      swiper-slide
        @extend %swiper-slide-default

        img
          font-size: 48px
          padding-bottom: 4px

        p
          text-align: center

  section.projects
    padding: 50px 0

    div.title-projects
      padding-left: 90px
      margin-bottom: 50px

      h2
        @extend %h2-default

    swiper-container
      display: flex
      flex-direction: row
      height: 450px

      swiper-slide
        @extend %swiper-slide-default
        div.project-single
          padding: 0 20px
          div.name-project
            padding: 0 0 30px 90px

            h2
              font-size: 21px
              font-weight: 300
              color: #444

          div.content-project
            padding-bottom: 15px
            p
              line-height: 24px
              font-size: 17px
              letter-spacing: 1.5px
              text-align: justify

          nav.link-project
            display: flex
            flex-direction: column
            a
              margin-bottom: 10px
              color: rgb(12,14,90)

@media (width < $layout-breakpoint-big)
  section.projects
    swiper-container
      height: 500px !important

      div.content-project
        padding-bottom: 10px
        p
          line-height: 21px
          font-size: 15px
          letter-spacing: 1.2px

@media (width < $layout-breakpoint-medium)
  section.about
    div.title-about
      padding-left: 0px !important
      text-align: center !important

    div.content-about
      padding: 0 10px !important

      p
        font-size: 15px !important
        line-height: 21px !important
        letter-spacing: 1px !important

  section.stacks
    div.title-stacks
      padding-left: 0px !important
      text-align: center !important

  section.projects
    swiper-container
      height: 650px !important

      swiper-slide
        div.project-single
          padding: 0 5px !important
          div.name-project
            padding: 0px 0px 30px 0px !important
            text-align: center !important

            h2
              font-size: 19px

          div.content-project
            p
              line-height: 18px
              font-size: 13px
              letter-spacing: 1px

@media (width < $layout-breakpoint-small)
  section.projects
    swiper-container
      height: 850px !important

      swiper-slide
        div.project-single
          div.name-project
            h2
              font-size: 17px

          div.content-project
            p
              line-height: 15px
              font-size: 12px
              letter-spacing: 0px

@media (width < $layout-breakpoint-x-small)
  section.projects
    swiper-container
      height: 950px !important

      swiper-slide
        div.project-single
          div.content-project
            p
              line-height: 12px
              font-size: 11px
