<div class="footer-container">
  <div class="footer-wraper">
    <div class="links">
      <div class="title">
        <h2>Links Rápidos</h2>
      </div><!--title-->

      <ul>
        <li (click)="about()">Sobre mim</li>
        <li (click)="stacks()">Stacks</li>
        <li (click)="projects()">Projetos</li>
        <li (click)="home()">Início</li>
      </ul>
    </div><!--links-->

    <div class="networks">
      <div class="title">
        <h2>Redes Sociais</h2>
      </div><!--title-->

      <div class="network-single">
        <fa-icon [icon]="whatsapp"></fa-icon>
        <span>Whatsapp</span>
      </div><!--network-single-->

      <div class="network-single">
        <a href="https://github.com/Namibo06">
          <fa-icon [icon]="github"></fa-icon>
          <span>GitHub</span>
        </a>
      </div><!--network-single-->

      <div class="network-single">
        <fa-icon [icon]="linkedIn"></fa-icon>
        <span>LinkedIn</span>
      </div><!--network-single-->
    </div><!--networks-->
  </div><!--footer-wraper-->

  <div class="copyright">
    <p>© Todos Direitos Reservados</p>
  </div><!--copyright-->
</div><!--footer-container-->
