$layout-breakpoint-big:580px
$layout-breakpoint-medium:480px
$layout-breakpoint-small:390px
$layout-breakpoint-x-small:320px

%footer-h2
  font-size: 21px
  font-weight: 300
  padding-bottom: 20px
  letter-spacing: 2px

%wraper
  margin-bottom: 15px
  cursor: pointer
  transition: 0.2s

@mixin icons($color: #00ff00)
  font-size: 27px
  margin-right: 5px
  color: $color


div.footer-container
  display: flex
  flex-direction: column
  transition: 1s
  transition-timing-function: ease-in
  font-family: Arial, Helvetica, sans-serif
  background: rgb(32, 32, 32)
  color: #ffffffd7

  div.footer-wraper
    display: flex
    flex-direction: row
    justify-content: space-around
    padding-top: 30px

    div.links
      div.title
        h2
          @extend %footer-h2

      ul
        li
          @extend %wraper
          list-style-type: none
          font-size: 15px
          font-weight: bold
          color: #ffffffd7
          letter-spacing: 1.5px
          &:hover
            color: #ffffff60

    div.networks
      div.title
        h2
          @extend %footer-h2

      div.network-single
        @extend %wraper
        display: flex
        flex-direction: row
        align-items: center
        &:nth-child(2)
          fa-icon
            @include icons
            &:hover
              @include icons($color: #00ff0085)

        &:nth-child(3)
          fa-icon
            @include icons($color: #525352)
            &:hover
              @include icons($color: #5253528f)

        &:nth-child(4)
          fa-icon
            @include icons($color: #3547ee)
            &:hover
              @include icons($color: #4722ee93)

        span
          font-size: 15px

  div.copyright
    text-align: center
    padding: 20px 0

    p
      font-size: 13px
      color: #888
      letter-spacing: 1.5px

/*media queries*/

@media (width < $layout-breakpoint-medium)
  div.footer-container
    div.footer-wraper
      flex-direction: column
      justify-content: center
      width: 100%

      div.links
        width: 180px
        max-width: 95%
        position: relative
        left: 50%
        transform: translateX(-50%)
        margin-bottom: 40px

      div.networks
        width: 180px
        max-width: 95%
        position: relative
        left: 50%
        transform: translateX(-50%)
