$layout-breakpoint-big:580px
$layout-breakpoint-medium:480px
$layout-breakpoint-small:390px
$layout-breakpoint-x-small:320px


%flex-row
  display: flex
  flex-direction: row

div.header-container
  @extend %flex-row
  justify-content: space-between
  align-items: center
  padding: 20px
  font-family: Arial, Helvetica, sans-serif
  transition: 1s
  transition-timing-function: ease-in

  div.title
    h2
      font-size: 30px
      font-weight: 300
      color: #444

  div.links
    div.menu-mobile
      display: none

    div.menu-desktop
      ul
        @extend %flex-row
        li
          margin-right: 20px
          list-style-type: none
          font-size: 16px
          font-weight: bold
          color: #666
          cursor: pointer
          &:last-child
            margin-right: 0px

/*media queries*/

@media (width < $layout-breakpoint-big)
  div.header-container
    padding: 10px

    div.title
      h2
        font-size: 24px

    div.links
      div.menu-desktop
        ul
          li
            margin-right: 15px
            font-size: 15px

@media (width < $layout-breakpoint-medium)
  div.header-container
    div.title
      h2
        font-size: 21px

    div.links
      div.menu-mobile
        display: block

        div.open-menu-icon
          fa-icon
            font-size: 21px
            cursor: pointer

      div.menu-desktop
        display: none
